<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Family Authentication</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/sso/css/login.css"/>
    <script src="/sso/js/login.js"/>
</head>
<body>
    <div class="login-container">
        <div style="text-align: center">
            <h3>Family Authentication</h3>
            <br/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="userName">User</span>
            <input id="ipt_user" type="text" class="form-control" placeholder="user" aria-describedby="user"/>
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon" id="password">Pass</span>
            <input id="ipt_password" type="text" class="form-control" placeholder="Username" aria-describedby="password"/>
        </div>
        <br/>
        <button type="button" class="btn btn-default" onclick="login()">Submit</button>
    </div>
</body>
</html>